# Root ignore
.DS_Store
*.zip
*.log

# Project specific ignores
node_modules/
.next/
out/
build/
dist/

# Subproject ignores
finalVersion/node_modules/
finalVersion/.next/
finalVersion/out/

ibm-carbon-version/node_modules/
ibm-carbon-version/.next/
ibm-carbon-version/out/

myCourses/node_modules/
myCourses/.next/
myCourses/out/

.vercel
*.pem
.env*.local
